@page "/home"

<PageTitle>Home</PageTitle>

<h1 style="text-align: center;font-stretch: extra-expanded;font-weight: bold;">Welcome</h1>


<p style ="
    margin-right: 15%;
    margin-left: 15%;
    font-size: 14px;
    font-family: sans-serif;
">This system is for the use of authorized users only. Individuals using this computer system without authority, or in excess of their authority, are subject to having all of their activities on this system monitored and recorded by systems personnel. In the course of monitoring individuals improperly using this system, or in the course of system maintenance, the activities of authorized users may also be monitored. Anyone using this system expressly consents to such monitoring and is advised that if such monitoring reveals possible criminal activity or policy violation, system personnel may provide the evidence of such monitoring to law enforcement or other authorized officials.</p>